## Import Libraries

In [37]:
import os
def install_package(name):
    sudoPassword = 'Jesusislife1!'
    command = 'pip install ' + name
    p = os.system('echo %s|sudo -S %s' % (sudoPassword, command))
import pandas_datareader.data as web
import datetime
import pandas as pd

## Read data

In [24]:
start = datetime.datetime(2001, 1, 1)
end = datetime.datetime(2013, 12, 31)

f = web.DataReader(['AAPL','IBM','MSFT','GOOGL','AXP','BA','PFE'],
                   'morningstar', start, end)

f.head()

                    Close    High     Low    Open     Volume
Symbol Date
AAPL   2001-01-01  1.0626  1.0714  1.0357  1.0486          0
       2001-01-02  1.0625  1.0893  1.0402  1.0625  113078000
       2001-01-03  1.1696  1.1920  1.0312  1.0357  204268400
       2001-01-04  1.2188  1.3214  1.2009  1.2943  184849000
       2001-01-05  1.1697  1.2411  1.1474  1.2100  103077800

In [ ]:
## Create matrix | Time by company

In [84]:
f = f.reset_index()[["Symbol", "Date", "Close"]]
D=f.pivot(index='Date', columns='Symbol', values='Close')
D=D.groupby(D.index.year).mean()
D.mean()
D.var()

## Construct Relations | Covariance | Correlation

In [72]:
SIG = D.cov()
RO = D.corr()
SIG.to_csv("SIG.csv")
RO.to_csv("RO.csv")

## Pose Optimization Questions

1. How much of our portfolio should we give to each company?